Options +FollowSymlinks
RewriteEngine on
RewriteRule (.*)shared.js $1shared.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?page=$1 [L,B,QSA]
